<h1>About Us</h2>
<p>Here at Finance Portfolios we want to help people manage their finances as easily as possible while having fun doing it. Managing one's portfolios has never been more easier! </p>



<%= image_tag "investing 9.jpg", height: 225 %>
<%= image_tag "investing 5.jpg", height: 225 %>
<%= image_tag "investing 6.jpg", height: 225 %>