<h1>Welcome to your Finance Portfolios App!</h1>
<h3>Think Tech. Think Investing. Learn to diversify your portfolios.
We make 0 Commissions and no deposit minimums.
Everyone gets better tools for better investing.</h3>

<br><br>
<h1><%= link_to "Sign Up Today", new_user_registration_path %></h1>
<br><br>

<br>

<%= image_tag "shibainu1.jpg", height: 225 %>
<%= image_tag "investing 2.jpg", height: 225 %>
<%= image_tag "investing 3.jpg", height: 225 %>